<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- Where the food base CSV is located.-->
		<add key="FoodBasePath" value="..\..\..\Food.csv"/>
		<!-- How many essence/food were given before running the program. The stats given by those essence must be put in the base stat right under-->
		<add key="NumberOfEssenceGiven" value="0"/>
		<!-- The element of the fairy. Lumiere/Tenebre/Eau/Electricite/Feu-->
		<add key="FairyElement" value="Tenebre"/>
		<!-- Base stat of Admiration/Aspiring-->
		<add key="BaseStatAdmirationPlusEssenceScore" value="0"/>
		<!-- Base stat of Classe/valiant-->
		<add key="BaseStatClassePlusEssenceScore" value="0"/>
		<!-- Base stat of Esquive/Shrewd-->
		<add key="BaseStatEsquivenPlusEssenceScore" value="0"/>
		<!-- Base stat of Passion/Eager-->
		<add key="BaseStatPassionPlusEssenceScore" value="0"/>
		<!-- Base stat of Volupte/Relaxed-->
		<add key="BaseStatVoluptePlusEssenceScore" value="0"/>
		<!-- Lookahead for the standard deviation based generation. Generation time grows expodentially with this number.-->
		<add key="GenSDLookAhead" value="4"/>
		<!-- For the genetic algorithm: Number of generation to run.-->
		<add key="GA_GenerationNumber" value="5000"/>
		<!-- For the genetic algorithm: Population size.-->
		<add key="GA_PopulationSize" value="2000"/>
		<!-- For the genetic algorithm: Percentage of how  many good parents are kept each generation. Between 0 and 1.-->
		<add key="GA_PercentageOfBestsToKeep" value="0,2"/>
		<!-- For the genetic algorithm: Percentage of mutation chance per locus (unique food in sample). Between 0 and 1.-->
		<add key="GA_MutationChancePerLocus" value="0,02"/>
		<!-- Select after how many generations the loop has to stop if the result stays the same. Set to 0 to disable.-->
		<add key="GA_StableStop" value="100"/>
	</appSettings>
</configuration>