<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--Where the food base CSV is located.-->
    <add key="FoodBasePath" value="..\Food.csv"/>
    <!--How many essence were given before running the program. The stats given by those essence must be put in the base stat right under-->
    <add key="NumberOfEssenceGiven" value="0"/>
    <!--Base stat of Admiration/Aspiring-->
    <add key="BaseStatAdmirationPlusEssenceScore" value="0"/>
    <!--Base stat of Classe/valiant-->
    <add key="BaseStatClassePlusEssenceScore" value="0"/>
    <!--Base stat of Esquive/Shrewd-->
    <add key="BaseStatEsquivenPlusEssenceScore" value="0"/>
    <!--Base stat of Passion/Eager-->
    <add key="BaseStatPassionPlusEssenceScore" value="0"/>
    <!--Base stat of Volupte/Relaxed-->
    <add key="BaseStatVoluptePlusEssenceScore" value="0"/>
    <!--Lookahead for the standard deviation based generation. Generation time grows expodentially with this number.-->
    <add key="GenSDLookAhead" value="0"/>
  </appSettings>
</configuration>